<h1>Learn about crypto and how to invest</h1>

<h2>What is cryptocurrency?</h2>
<p>Cryptocurrency is a digital or virtual currency that handles the creation of new units and verifies and secures transactions by using cryptography. It operates independently from a central bank and can be transferred directly between individuals without intermediairies like banks.
    It is decentralized and transparent, transactions are recorded on a blockchain which is essentially a public ledger.
    There are many types of cryptocurrency in circulation, the most popular being Bitcoin, each with their own unique features and uses.
</p>
<h3>Learn more : </h3><iframe width="560" height="315" src="https://www.youtube.com/embed/1YyAzVmP9xQ" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

<h2>How do I invest in cryptocurrency?</h2>
<p>Cryptocurrencies can be bought via brokers and via a cryptocurrency exchange - an online platform for buying, selling and trading crypto in a secure and efficient way. You can place an order on the exchange, specifying the amount and price at which you want to buy, your coin will then be credited to your exchange wallet which can then be transferred to your personal wallet. </p>
<h3>Learn more : </h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gFQNPmLKj1k" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

<h2>Where to invest?</h2>
<p>Here's a list of well known cryptocurrency exchanges:</p>
<ul>
    <li ><a class="exchanges" href="https://www.binance.com/en">Binance</a></li>
    <li ><a class="exchanges" href="https://www.coinbase.com/exchange">Coinbase exchange</a></li>
    <li ><a class="exchanges" href="https://www.kraken.com/">Kraken</a></li>
    <li ><a class="exchanges" href="https://www.kucoin.com/">KuCoin</a></li>
    <li ><a class="exchanges" href="https://www.bitfinex.com/">Bitfinex</a></li>
</ul>