<a href="https://cryptopanic.com/" target="_blank" data-news_feed="trending" data-bg_color="#010101"
    data-text_color="#D6D6D6" data-link_color="#2981D1" data-header_bg_color="#30343B" data-header_text_color="#FFFFFF"
    data-posts_limit="10" class="CryptoPanicWidget">Latest News</a>
<script src="https://static.cryptopanic.com/static/js/widgets.min.js"></script>