body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1, nav {
  font-family: 'Chakra Petch', sans-serif;
}


.card {
  display: flex;
  justify-content: center;
}

h1, .exchanges {
  color: #26ff26
}

.card img {
  height: 200px;
  object-fit: cover;
}

p, h3 {
  font-family: 'Chakra Petch', sans-serif;
}

p {
  font-size:larger;
}

