body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1, nav {
  font-family: 'Chakra Petch', sans-serif;
}


.card {
  display: flex;
  justify-content: center;
}

h1, .exchanges, #trending {
  color: #26ff26
}

#trending {
  font-family: 'Chakra Petch', sans-serif;
}

.card img {
  height: 200px;
  object-fit: cover;
}

p, h3, h2 {
  font-family: 'Chakra Petch', sans-serif;
}

p {
  font-size:larger;
  margin-bottom: 0;
}

#allCoin {
  overflow-y: scroll;
  height: 500px;
}

form {
  margin-bottom: 0;
}

#navBarNav {
  margin-left: 65vw;
}